

body {
    margin: 0;
    overflow-x: hidden;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    height: 2vh;
  }

  h1{
    position: absolute;
    padding: 5vw;
    top: 25vh;
    font-size: 200px;
    font-weight: bold;
    width: 200%;
    color: white;
    letter-spacing: 10px;
}

p {
    display: flexbox;
    position: absolute;
    padding: 5vw;
    top: 63vh;
    width: 70vw;
    font-size: 20px;
    color: white;
    
    
}


.backgroundImg {
    width: 100%;
    height: 100vh; 
    position: absolute; 
}


@media all and (max-width: 767px) {


  ul {
    background-color: yellow;
  }

  li a {
    color: black;
  }

  li a:hover {
    background-color: #111;
    color: white;
  }

  h1 {
    font-size: 35px;
  }

  p{
    top: 40vh;
  }


}

@media all and (min-width: 768px) { 
  ul {
    background-color: lightgreen;
  }

  li a {
    color: black;
  }

  li a:hover {
    background-color: #111;
    color: white;
  }

  h1 {
    font-size: 25px;
  }

  p{
    top: 40vh;
  }

}

@media all and (min-width: 992px) {
  ul {
    background-color: red;
  }

  li a {
    color: white;
  }

  li a:hover {
    background-color: #111;
    color: white;
  }

  h1{
    top: 45vh;
    font-size: 100px;
    display: flexbox;
    width: 20vw;
  }

  p{
    display: flexbox;
    position: absolute;
    left: 45vw;
    top: 50vh;
    width: 500px;
  }
}

@media all and (min-width: 1200px) {
  ul {
    background-color: black;
  }

  li a {
    color: white;
  }

  li a:hover {
    background-color: white;
    color: black;
  }
}