header {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

hr {
    width: 60%;
    margin: 0;
}

img {
    height: 40%;
    width: 20%;
    padding: 50px;
}

main {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-columns: 30% 60%;
}
main > * {
    padding: 10%;
}

a {
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact > * {
    padding: 3%;
}

.name {
    font-size: 100px;
}
.dev {
    font-size: 50px;
}

.details{
    display: flexbox;
    flex-wrap: wrap;
    width: 50%;
}